{
    "plugins": [
      ["prismjs", {
          "languages": [
              "javascript",
              "php",
              "css",
              "jsx",
              "js",
              "markup",
              "html"
            ],
          "plugins": ["unescaped-markup"],
          "theme": "tomorrow",
          "css": true
      }]
    ]
  }